/*make header image dynamic size*/
.img-circle {
    width: 40%;
}

/*fix header margin being a bit large*/
.page-header {
    margin-top: 70px;
}

/*new class to make sub-page-headers margin disappear at the top*/
.sub-header {
    margin-top: 0;
}

/*fix success & hover making table rows all white when hovering over them*/
.success .table-hover tbody tr:hover {
    color: #18BC9C;
}

/*style dropdown like rest of bootstrap theme*/
.navbar-custom .dropdown-menu {
    min-width: 0;
    background: #2C3E50;
}

.navbar-custom .dropdown-menu li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 15px;
    line-height: 20px;
    display: inline-block;
}

.navbar-custom .dropdown-menu li a:hover {
    color: #18BC9C;
    background: #2C3E50;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: white;
        padding-left: 15px;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > li {
        padding: 5px 10px;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #18BC9C;
    }
}

